/* REGOLE GENERALI */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #0f74c8;
  font-weight: bold;
}

.container-small {
  width: 75%;
  margin: auto;
}

.container-large {
  width: 80%;
  margin: auto;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

header, section {
  margin-bottom: 30px;
}

p {
  font-size: 1.5em;
  padding: 15px 0;
}

h1 {
  padding: 20px 0;
  font-size: 4em;
}

h2 {
  margin: 15px 0;
  font-size: 3em;
}

h3 {
  padding: 20px 0;
  font-size: 2em;
}

h4 {
  padding: 20px 0;
  font-size: 1.8em;
}

.store {
  width: 305px;
  margin: auto;
}

.apple-store , .google-play {
  display: inline-block;
}

.apple-store img , .google-play img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

/* smartphone */
@media all and (max-width: 768px) {

  .container-small , .container-large {
    width: 100%;
    padding: 0 15px;
  }

  h1 {
    margin: 10px 0;
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
    margin: 15px 0;
  }

}

@media all and (max-width: 300px) {

  .store {
    width: 100%;
  }

  .apple-store , .google-play {
  width: 49%;
  }

}


/* REGOLE NAV */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 70px;
  z-index: 900;
}

nav .row>div {
  height: 100%;
}

nav img {
  height: 40px;
  margin-top: 15px;
}

#nav-big {
  font-size: 0.9em;
}

#nav-big .menu {
  display: inline-block;
  padding: 0 10px;
  line-height: 70px;
  float: right;
}

#nav-big .menu.globe {
  display: none;
}

#nav-big .sottomenu {
  display: none;
  line-height: 1.5em;
  background-color: white;
  padding: 15px;
}

#nav-small {
  display: none;
  text-align: center;
  line-height: 70px;
}

#nav-small ul {
  list-style: none;
  line-height: 3;
  font-weight: bold;
}

#nav-small .sfondo-menu {
  background-color: white;
  padding: 30px;
  display: none;
}

#nav-small i:hover {
  color: #0f74c8;
}

#nav-small .menu:hover .sfondo-menu {
  display: block;
}

#nav-small .logo a:last-child {
  display: none;
  line-height: 70px;
  font-size: 30px;
}

/* tablet */
@media all and (min-width: 769px) and (max-width: 992px) {

  .container-small , .container-large {
    width: 100%;
    padding: 0 30px;
  }

  #nav-big .menu.language {
    display: none;
  }

  #nav-big .menu.globe {
    display: inline-block;
  }

  #nav-big .menu.globe:hover .sottomenu {
    display: block;
  }

}

/* smartphone */
@media all and (min-width: 301px) and (max-width: 768px) {

  #nav-big {
    display: none;
  }

  #nav-small {
    display: block;
  }

}

/* sotto i 300px */
@media all and (max-width: 300px) {

  #nav-big {
    display: none;
  }

  #nav-small {
    display: block;
  }

  #nav-small .logo a:first-child {
    display: none;
  }

  #nav-small .logo a:last-child {
    display: block;
  }

  #nav-small .sfondo-menu {
    font-size: 0.5rem;
  }

}




/* REGOLE JUMBOTRON */

#jumbotron {
  min-height: 500px;
  margin-top: 70px;
  background-image: url(../img/mare.jpg);
  background-size: cover;
  background-position: bottom;
}

#jumbotron .row>div{
  height: 200px;
  margin-top: 150px;
  color: white;
  text-align: center;
}

.layover {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}




/* REGOLE SEZIONE 1 */

#monopattino , #bicicletta {
  text-align: center;
  padding-top: 20px;
  background-color: #fafafa;
}

#monopattino {
  margin-right: 15px;
}

#bicicletta {
  margin-left: 15px;
}

#section1 img {
  width: 100%;
}

#section1 a {
  color: #0f74c8;
  font-size: 1.2em;
}




/* REGOLE SEZIONE 2 */

#jumbo-monopattino {
  background-image: url(../img/anziano.jpg);
  background-size: cover;
  background-position: left;
  height: 400px;
}

#section2 [class*="col-"] {
  height: 70px;
  margin-top: 50px;
}

#section2 h3 , #section2 h4 , #section2 p {
  margin: 0;
  padding: 0;
}

#section2 [class*="col-"]:first-child {
  text-align: right;
}

#section2 [class*="col-"]:nth-child(2) {
  position: relative;
}

#section2 .row img {
  width: 180px;
  height: auto;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12%;
}

#section2-solo-telefono {
  display: none;
  text-align: center;
}

/* smartphone */
@media all and (max-width: 768px) {

  #section2 [class*="col-"]:nth-child(1),
  #section2 [class*="col-"]:nth-child(3) {
    display: none;
  }

  #section2-solo-telefono {
    display: block;
    margin-top: 30px;
  }

}




/* REGOLE SEZIONE 3 */

#scooter , #half-phone , #city {
  font-weight: bold;
}

#scooter {
  margin-bottom: 30px;
  width: 100%;
  background-image: url(../img/scooter.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

#scooter>.testo{
  color: white;
  float: right;
  width: 40%;
  margin: 70px 50px;
}

#scooter h1 {
  font-size: 3em;
}

#half-phone {
  margin-right: 15px;
  text-align: center;
  color: white;
  background-color: #3f5467;
  padding-top: 20px;
  position: relative;
}

#half-phone img {
  margin-top: 20px;
  height: 200px;
  max-width: 100%;
}

#city {
  margin-left: 15px;
  text-align: center;
  color: white;
  background-image: url(../img/city.jpg);
  background-size: cover;
  background-position: center;
}

#city>div {
  padding-top: 20px;
  padding-bottom: 220px;
}

/* smartphone */
@media all and (max-width: 768px) {

  #scooter>div {
    width: 60%;
    margin: 10% 10%;
    text-align: right;
  }

  #scooter>div *,
  #half-phone>div *,
  #city>div *  {
    padding: 0;
  }

  #monopattino,
  #bicicletta,
  #half-phone,
  #city {
    margin: 0 0 30px;
  }

  #half-phone , #city {
    height: 380px
  }

  #half-phone {
    position: relative;
  }

  #half-phone img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }


}




/* REGOLE SEZIONE 4 */

#collage {
  height: 300px;
  background-image: url(../img/collage.jpg);
}

#collage [class*="col-"]{
  height: 150px;
  margin-top: 75px;
  background-color: white;
  background-size: cover;
  position: relative;
}

.centratura {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
}

.centratura a:nth-child(1),
.centratura a:nth-child(2),
.centratura a:nth-child(3) {
  padding-right: 15px;
}

/* sotto i 300px */
@media all and (max-width:300px) {
  .centratura {
    font-size: 1rem;
  }
}




/* REGOLE FOOTER */

footer {
  background-color: black;
  color: white;
  padding: 50px 0;
  font-size: 1.2rem;
}

footer img {
  width: 60%;
}

footer .row {
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
}

footer ul {
  list-style: none;
}

footer li:first-child {
  margin-bottom: 15px;
  font-weight: bold;
}

footer li>a {
  color: grey;
  line-height: 1.8;
  font-size: 1rem;
}

.footer-center {
  font-size: 0.9rem;
  line-height: 2;
}

footer i {
  font-size: 1.4rem;
}

.footer-center>div:first-child a {
  padding-right: 10px;
}

.footer-top [class*="col-"] {
  margin-bottom: 30px;
}

.footer-center [class*="col-"] {
  padding-bottom: 30px;
}

.footer-bottom {
  text-align: center;
}

/* smartphone */
@media all and (max-width: 768px) {
  .footer-center{
    text-align: center;
  }
}
