/* REGOLE GENERALI */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: lightblue;
  font-weight: bold;
}

.container-small {
  width: 75%;
  margin: auto;
}

.container-large {
  width: 85%;
  margin: auto;
}

header, section {
  margin-bottom: 30px;
}

h1 {
  margin: 20px 0;
  font-size: 4em;
}

h2 {
  margin: 15px 0;
}

p {
  font-size: 1.5em;
  margin: 15px 0;
}


/* REGOLE NAV */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  font-size: 0.8em;
  background-color: white;
  height: 70px;
}

nav .row>div {
  height: 100%;
}

nav .logo {
  line-height: 70px;
  font-size: 30px;
}

nav .menu {
  display: inline-block;
  padding: 0 10px;
  line-height: 70px;
  float: right;
}

.menu.globe {
  display: none;
}

.sottomenu {
  display: none;
  line-height: 1.5em;
  background-color: white;
  padding: 15px;
}

/* .clearfix {
  content: "";
  display: table;
  clear: both;
} */


/* REGOLE JUMBOTRON */

#jumbotron {
  min-height: 400px;
  margin-top: 70px;
  background-image: url(../img/mare.jpg);
  background-size: cover;
  background-position: bottom;
}

#jumbotron .row>div{
  height: 200px;
  margin-top: 100px;
  color: white;
  text-align: center;
}

.layover {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}



/* REGOLE SEZIONE 1 */

#monopattino , #bicicletta {
  text-align: center;
  padding-top: 20px;
  background-color: #fafafa;
}

#monopattino {
  margin-right: 15px;
}

#bicicletta {
  margin-left: 15px;
}

#section1 img {
  max-width: 100%;
}

#section1 a {
  color: #0f74c8;
  font-size: 1.2em;
}

/* REGOLE SEZIONE 2 */

#jumbo-monopattino {
  background-color: lightgreen;
  height: 300px;
}

#section2 [class*="col-"] {
  height: 100px;
  background-color: lightpink;
  border: 1px solid black;
}

#section2 [class*="col-"]:nth-child(2) {
  position: relative;
}

#section2 .row img {
  width: 150px;
  height: auto;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12%;
}



/* REGOLE SEZIONE 3 */

#scooter , #half-phone , #city {
  background-color: lightpink;
  height: 300px;
}

#scooter {
  margin-bottom: 30px;
}


#half-phone {
  margin-right: 15px;
}

#city {
  margin-left: 15px;
}



/* REGOLE SEZIONE 4 */

#collage {
  height: 300px;
  background-color: coral;
}

#collage [class*="col-"]{
  height: 150px;
  margin-top: 75px;
  background-color: white;
}



/* REGOLE FOOTER */

footer {
  background-color: black;
  color: white;
  padding: 50px 0;
}

footer .row {
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
}

.footer-top [class*="col-"] div{
  background-color: lightpink;
  height: 200px;
  border: 1px solid green;
}

.footer-center [class*="col-"] div{
  background-color: lightpink;
  height: 50px;
  border: 1px solid green;
}

.store {
  width: 305px;
  margin: auto;
}

.apple-store , .google-play {
  display: inline-block;
  height: 50px;
  width: 150px;
  background-color: red;
}




/* REGOLE VERSIONE TABLET */

@media all and (min-width: 769px) and (max-width: 992px) {

  .container-small , .container-large {
    width: 100%;
    padding: 0 30px;
  }

  .menu.language {
    display: none;
  }

  .menu.globe {
    display: inline-block;
  }

  .menu.globe:hover .sottomenu {
    display: block;
  }

}



/* REGOLE VERSIONE SMARTPHONE */

@media all and (max-width: 768px) {

  .container-small , .container-large {
    width: 100%;
    padding: 0 15px;
  }

  h1 {
    margin: 10px 0;
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
    margin: 15px 0;
  }


  /* nav {
    display: none;
  } */

  #monopattino,
  #bicicletta,
  #half-phone,
  #city {
    margin: 0 0 30px;
  }

  .store {
    width: 100%;
  }

  .apple-store , .google-play {
    width: 49%;
  }


}
